@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  margin-left: 5%;
  margin-top: 50px;
  font-size: 55px;
}
.top {
  display: flex;
  justify-content: space-around;
  margin-bottom: calc(320px - 15vw);
}
.text {
  width: 662px;
  height: 374px;
  left: 0px;
  top: 202px;
}

.text p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0em;
  text-align: left;
}
.top img {
  width: 366px;
  height: 344px;
  right: 0px;
}
.bottom {
  width: 90%;
  justify-content: space-around;
  display: flex;
  margin-top: calc(300px - 20vw);
  align-items: center;
}
.bottom img {
  margin-left: 50px;
  height: 15vw;
  max-height: 203px;
}
.info {
  display: flex;
  justify-content: space-around;
  right: 20px;
  min-width: none;
}
.info div {
  font-size: 25px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left; 
}
.info p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -20px;
}
.lesson-duration {
  margin: 0 94px;
}

@media screen and (max-width: 829px){
  h1 {
    font-size: 32px;
    margin-left: 3%;
  }
  .text {
    width: 383.41px;
    height: 216.61px;
    left: 72px;
    top: 120px;
  }
  .text p {
    font-size: 14px;
    }
  .top img {
    width: 182px;
    height: 170px;
    left: 565.45px;
    top: 134.19px;
  }
  .bottom img {
    display: none;
  }  
  .info h3 {
    font-size: 15px;
  }
  .info p {
    font-size: 11px;
  }
}

@media screen and (max-width: 375px){
  h1 {
    font-size: 26px;
    margin-left: 0px;
  }
  .text {
    width: 308.47px;
    height: 174.27px;
    left: 36px;
    top: 107.72px;
    margin-bottom: 80px;
  }
  .text p {
    font-size: 12px;
  }
  .top {
    display: flex;
    flex-wrap: wrap;
  }
  .top img {
    width: 182px;
    height: 170px;
    left: 565.45px;
    top: 134.19px;
  }
  .info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .info div {
    margin-left: 12px;
  }
  .info h3 {
    font-size: 12px;
  }
  
  .bottom img {
    display: none;
  }  
  .bottom {
    width: 95%;
    display: flex;
    margin-top: 30px;
  }
  .info h3 {
    font-size: 12px;
  }
  .info p {
    font-size: 10px;
  }
} 